
<div class='pure-g center'>
<div class = "pure-u-11-12 pure-u-xl-5-6">
	<div class="pure-menu pure-menu-horizontal text-center" id="top-menu">
	    <ul class="pure-menu-list">
		<li class="pure-menu-item"><a href="insert-baseURL/animals/" class="pure-menu-link round-link link-big">Animals</a></li>
		<li class="pure-menu-item"><a href="insert-baseURL/clothes/" class="pure-menu-link round-link link-big">Clothes</a></li>
		<li class="pure-menu-item"><a href="insert-baseURL/food/" class="pure-menu-link round-link link-big">Food</a></li>
		<li class="pure-menu-item"><a href="insert-baseURL/jobs/" class="pure-menu-link round-link link-big">Jobs</a></li>
		<li class="pure-menu-item"><a href="insert-baseURL/personal/" class="pure-menu-link round-link link-big">Personal</a></li>
		<li class="pure-menu-item"><a href="insert-baseURL/contact/" class="pure-menu-link round-link">Contact</a></li>
		<li class="pure-menu-item"><a href="insert-baseURL/about/" class="pure-menu-link round-link">About</a></li>
	    </ul>
	</div>
</div>
</div>
